/* Ordered Lists Style */
ol {
    color: rgb(0, 183, 255);
    font-size: 1.2em;
    margin-left: .5in;
    margin:1cm 1cm 1cm 1cm;
    display: block;
}

/* Unordered Lists Style */

ul {
    color: blueviolet;
    font-size: 1.2em;
    margin-right: 10cm;
}

li {
    display: inline;
}

ol li {
    list-style-type: circle;
    text-align: center;
}

ul > li {
    list-style-type: circle;
    text-align: center;
}

img ~ p {
    color: rgb(36, 187, 68);
}

p + img {
    color: red;
}


/* Header 1 */
h1
{
    color: hsl(0,100%,25%);
    text-align: center;
    text-decoration:coral;
    margin-top: 1cm;
    margin-bottom: -0.1mm;
    font-family: "Roboto-Medium.ttf";
}

@font-face {
    font-family: "Roboto-Medium.ttf";
    src: url(Roboto/Roboto-Medium.ttf);
}

/* Header 2 */
h2
{
    font-family: "Roboto-Medium.ttf";
    margin: auto;
    text-align: center;
    padding-top:20mm;
    padding-bottom:5mm
    
}

/* Header 3 */
h3
{
    margin: auto;
    text-align: center;
    padding-bottom:5mm
}

html {
    background-color: #cccccc;
    font-size: 20px;
}

section {
    font-size: 3ex;
    color: hsl(0,100%,25%);
    text-align: center;
    display: grid;
}

p {
    font-size: 1rem;
    padding-right: 1em;
    padding-left: 1em;
    
    
}

summary {
    padding-left: 1em;
    
}

audio {
    align-content: center;
    padding: 1cm 1cm 1cm 1cm;
    border-style:inset;
    border-color:double;
    border-width:1pc;
    border-radius:15pt;
    display: inline;
    position:static;
}

video {
    max-width:250mm;
    max-width:150mm;
    height:100mm;
    width:150mm;

    position:sticky;
    display: flex; /* or inline-flex */
    

}

img {
    display: flex;
}

button:hover {
    color: green;
    
}
button:active {
    color: white;
    background-color: green;
}

@media only screen and (max-width: 600px) {
body {
    background-color: rgb(173, 230, 173);
}
}

.favoritestyled {
    background-color: rgb(209, 219, 191);
}

 

#Catching-up {
    color: rgb(46, 168, 168);
}

* {
    text-align: center;
}

form[class="form-example"] {
    background-color: yellow;
}

h1, h2, p {
    text-align: center;
}


